@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 128px;
  height: 38px;
  background: center no-repeat url("../../images/d’Perfume.png");
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header__menu {
  display: flex;
}
.header__menu li a {
  display: flex;
  align-items: center;
  padding: 16px;
  color: #8d8d8d;
}
.header__menu li a:hover {
  color: #916019;
}

.menu-btn {
  display: none;
}

.sm-menu {
  display: none;
}

.lg-menu {
  display: flex;
}

.menu-icon {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .sm-menu {
    display: flex;
    align-items: center;
  }
  .header .sm-menu .sm-cart {
    position: relative;
  }
  .header .sm-menu .menu-num {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0px 4px;
    border-radius: 7px;
    background-color: #916019;
    color: white;
    font-size: 12px;
  }
  .header .lg-menu {
    display: none;
  }
  #menu-btn:checked ~ .change-menu {
    display: flex;
  }
  .change-menu {
    width: 100%;
    position: absolute;
    left: 0;
    flex-direction: column;
    background-color: #8d8d8d;
  }
  .change-menu li {
    border-bottom: 1px solid white;
  }
  .change-menu li:last-child {
    border: none;
  }
  .change-menu li a {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: lighter;
  }
  .change-menu li a .material-icons {
    display: none;
  }
}
/*--------- subHeader---------*/
.subHeader {
  background-color: #916019;
  margin-bottom: 80px;
}
.subHeader__menu {
  display: flex;
}
.subHeader__menu li a {
  display: block;
  padding: 14px;
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

@media screen and (max-width: 767px) {
  .subHeader {
    display: none;
  }
}
.footer {
  background-color: #916019;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content .copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
}
.footer__content .copyright p {
  margin-left: 20px;
}
.footer__menu {
  display: flex;
}
.footer__menu li a {
  display: block;
  font-size: 20px;
  color: white;
  padding: 20px 18px;
}
.footer__menu li a:hover {
  color: #e0e0e0;
}

@media screen and (max-width: 767px) {
  .footer__content {
    padding: 20px 0px;
  }
  .footer__content .copyright {
    justify-content: space-between;
  }
  .footer__content .footer__menu {
    display: none;
  }
}
/*-----subscribe-----*/
.subscribe {
  display: flex;
  height: 600px;
  background: center center fixed no-repeat url("../../images/subscribe.jpg");
  background-size: cover;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.subscribe h3 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #8d8d8d;
}
.subscribe .email {
  display: flex;
  width: 100%;
  max-width: 350px;
  border: 2px solid #916019;
  border-radius: 4px;
}
.subscribe .email input {
  padding: 20px 10px;
  font-size: 16px;
  color: #8d8d8d;
  border: none;
}
.subscribe .email input:focus-visible {
  outline: none;
}
.subscribe .email button {
  flex-grow: 1;
  background-color: #916019;
  color: white;
  border: none;
  font-size: 16px;
}
.subscribe .email button:hover {
  background-color: #6c4700;
}

@media screen and (max-width: 767px) {
  .subscribe-content {
    align-items: center;
  }
}
/*-------common--------*/
.more-btn {
  color: #916019;
}
.more-btn:hover {
  color: #0f0a03;
}

/*-------banner--------*/
.banner {
  height: 870px;
  background: center center fixed no-repeat url("../../images/banner.jpg");
  background-size: cover;
  margin-bottom: 60px;
}
.banner .banner-content {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.banner .banner-text {
  max-width: 445px;
  color: white;
}
.banner .banner-text h2 {
  font-size: 40px;
  font-weight: bold;
}
.banner .banner-text p {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: lighter;
}
.banner .banner-text .shop-btn {
  display: block;
  max-width: 350px;
  padding: 13px 0px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 28px;
  line-height: 1;
  color: white;
  text-align: center;
}
.banner .banner-text .shop-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*-------productInfo + plan--------*/
.productInfo .productInfo-block {
  display: flex;
  align-items: center;
}
.productInfo .productInfo-block .productInfo-text {
  width: 50%;
  padding: 0px 110px;
}
.productInfo .productInfo-block .productInfo-text h3 {
  font-size: 32px;
  font-weight: bold;
}
.productInfo .productInfo-block .productInfo-text p {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 16px;
}
.productInfo .productInfo-block .productInfo-img {
  width: 50%;
  height: 555px;
  overflow: hidden;
}
.productInfo .row-reverse {
  flex-direction: row-reverse;
}

.plan {
  display: flex;
  margin-bottom: 60px;
}
.plan .plan-img {
  width: 50%;
}
.plan .plan-text {
  width: 50%;
  padding: 92px 110px;
}
.plan .plan-text ol {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 24px;
  font-weight: bold;
}
.plan .plan-text ol li {
  margin-bottom: 52px;
}
.plan .plan-text ol li:last-child {
  margin-bottom: 60px;
}
.plan .plan-text p {
  font-size: 16px;
  font-weight: lighter;
}
.plan .plan-text .plan-btn {
  display: block;
  padding: 18px 52px;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
}
.plan .plan-text .plan-btn:hover {
  background-color: #e0e0e0;
}

/*-------grayBlock--------*/
.grayBlock {
  padding: 40px 0px;
  margin-bottom: 60px;
  background-color: #e0e0e0;
}

.productList {
  display: flex;
  justify-content: space-between;
}
.productList img {
  flex-grow: 1;
  max-width: 350px;
  height: 540px;
  margin-bottom: 8px;
}
.productList a {
  display: block;
}
.productList .productList-title {
  font-size: 24px;
  font-weight: bold;
}
.productList .productList-text {
  margin-bottom: 16px;
  font-weight: lighter;
}
.productList .productList-price {
  font-weight: lighter;
}
.productList .productList-price span {
  margin-left: 8px;
  color: #8d8d8d;
  text-decoration: line-through;
}
.productList .soldOut-container {
  position: relative;
  margin-bottom: 8px;
}
.productList .soldOut-container img {
  margin-bottom: 0px;
}
.productList .soldOut-container .soldOut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.5);
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------bottle--------*/
.bottleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.bottleBlock .bottle-text {
  max-width: 350px;
  margin-left: 30px;
  font-weight: lighter;
}
.bottleBlock .bottle-text h3 {
  font-size: 32px;
  font-weight: bold;
}
.bottleBlock .bottle-text .bottle-subTitle {
  font-size: 20px;
}
.bottleBlock .bottle-text p {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
  .banner {
    height: 480px;
  }
  .banner .banner {
    justify-content: center;
  }
  .banner .banner-text h2 {
    font-size: 32px;
  }
  .banner .banner-text p {
    font-size: 20px;
  }
  .productInfo .row-reverse {
    flex-direction: row;
  }
  .productInfo .productInfo-block {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .productInfo .productInfo-block .productInfo-text {
    width: 100%;
    padding: 0;
  }
  .productInfo .productInfo-block .productInfo-text p {
    margin-bottom: 8px;
  }
  .productInfo .productInfo-block .productInfo-img {
    width: 100%;
    height: 350px;
  }
  .plan {
    flex-wrap: wrap;
  }
  .plan .plan-img {
    width: 100%;
    height: 680px;
    margin-bottom: 8px;
  }
  .plan .plan-text {
    width: 100%;
    padding: 0;
  }
  .plan .plan-text li {
    margin-bottom: 20px;
  }
  .productList {
    flex-wrap: wrap;
  }
  .productList img {
    height: 350px;
  }
  .productList li {
    width: 100%;
    margin-bottom: 24px;
  }
  .bottleBlock {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .bottleBlock img {
    height: 520px;
    margin-bottom: 8px;
  }
  .bottleBlock .bottle-text {
    margin-left: 0px;
  }
}/*# sourceMappingURL=index.css.map */