$containerMaxWidth: 1140px;
$breakPoint: 767px;

$primary: #916019;
$darkPrimary: darken($primary, 30%);

$secondary: #8d8d8d;
$lightSecondary: #e0e0e0;

$fz-10: 40px;
$fz-8: 32px;
$fz-7: 28px;
$fz-6: 24px;
$fz-5: 20px;
$fz-4: 16px;
$fz-3: 12px;

$radius: 30px;